* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

html {
  background: #add8e6;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#interactPanel {
  background-color: rgb(56, 55, 55);
  z-index: 99;
  color: #ffefef;
  position: absolute;
  left: -500px;
  width: 350px;
  overflow-x: hidden;
  transition: 0.5s;
}

#openPanel {
  position: absolute;
  z-index: 98;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(56, 55, 55, 0.736);
  color: white;
  padding: 10px 15px;
  border: none;
}

#openPanel:hover {
  background-color: #444;
}

#closePanel {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffefef;
  text-decoration: none;
}

#refresh {
  height: 20vh;
  padding: 20px 20px 0 20px;
  border-right: 5px solid rgb(41, 40, 40);
  text-align: center;
}

#refresh input[type="range"] {
  display: block;
  margin: 0 auto;
}

#refresh input[type="submit"] {
  display: block;
  background-color: rgb(41, 40, 40);
  border: none;
  color: #ffefef;
  padding: 5px;
  margin: 20px auto 0;
  cursor: pointer;
}

#liste {
  border-top: 5px solid rgb(41, 40, 40);
  border-right: 5px solid rgb(41, 40, 40);
  list-style-type: none;
  overflow-y: scroll;
  height: 77vh;
}

#liste input[type="submit"] {
  display: inline-block;
  background-color: rgb(41, 40, 40);
  border: none;
  color: #ffefef;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

#liste li {
  padding: 20px 10px;
}

#liste li:nth-child(even) {
  background: rgb(41, 40, 40)
}

#liste li:nth-child(even) form input[type="submit"] {
  background-color: rgb(56, 55, 55);
}

.quake .time {
  display: inline;
}

#infos {
  background-color: rgba(56, 55, 55, 0.736);
  padding: 20px;
  z-index: 99;
  color: #ffefef;
  position: absolute;
  margin: 20px;
  top: 0;
  right: 0;
  visibility: hidden;
}

#infos p {
  margin-bottom: 5px;
}

#moreInfos{
  position: absolute;
  right: -35%;
  bottom: 0;
  z-index: 99;
  background-color: rgb(56, 55, 55);
  font-size: 20px;
  padding: 0 15px 0;
  color: white;
  width: 30%;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

#moreInfos p{
  display: inline;
}

.color{
  display: inline;
  margin-right: 5px;
  font-size: 30px;
}

.desc{
font-size: 15px;
}

#openMoreInfos{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 98;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(56, 55, 55, 0.736);
    color: white;
    padding: 10px 15px;
    border: none;
}

#openMoreInfos:hover {
    background-color: #444;
}

#closeMoreInfos {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffefef;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type=range] {
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  margin-top: 10px;
  background: rgba(140, 140, 140, 0.78);
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -7.5px;
  width: 26px;
  height: 26px;
  background: #70706e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a6a6a6;
}
input[type=range]::-moz-range-track {
  margin-top: 10px;
  background: rgba(140, 140, 140, 0.78);
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: #70706e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  margin-top: 10px;
  background: transparent;
  border-color: transparent;
  border-width: 8.2px 0;
  color: transparent;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #737373;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(140, 140, 140, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 26px;
  height: 26px;
  background: #70706e;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(140, 140, 140, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: #a6a6a6;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
